.spinner {
	margin: 3rem auto;
}
b {
	padding-right: 1em;
}

.search_container {
	margin-left: 2rem;
}

.planets_pager {
	font-size: 1.1rem;
	.mat-paginator-container {
		justify-content: flex-start;
	}
}