<label for="search-box">Search: </label>
<input #searchBox id="search-box" type="text" (keyup)="updateSearch(searchBox.value)" [(ngModel)]="searchBoxTerm"/>
<ul class="planet_list">
  <li *ngFor="let planet of planets.planets$ | async | filter: searchTerm"><a [routerLink]="'/planet/'+extractPlanetId(planet.url)">{{planet.name}}</a></li>
</ul>

<a [class.disabled]="page<2" [routerLink]="'/planets'" [queryParams]="{start: page-1, search: searchTerm}">Previous</a>
<a [class.disabled]="page*10>=totalCount" [routerLink]="'/planets'" [queryParams]="{start: page+1, search: searchTerm}">Next</a>