<div *ngIf="planet && planet.name">
    <h2>{{planet.name}}</h2>
    <p><b>Rotation period: </b>{{planet.rotation_period | toNumber}}</p>
    <p><b>Orbital period: </b>{{planet.orbital_period | toNumber}}</p>
    <p><b>Diameter: </b>{{planet.diameter | toNumber}}</p>
    <p><b>Climate: </b>{{planet.climate}}</p>
    <p><b>Terrain: </b>{{planet.terrain}}</p>
    <p><b>Surface water: </b>{{planet.surface_water}}{{(isNumber(planet.surface_water)) ? '%' : ''}}</p>
    <p><b>Population: </b>{{planet.population | toNumber}}</p>
</div>
<button (click)="back()">BACK</button>
<div *ngIf="error">
  <span class="error">Sorry, planet not found.</span>
</div>