<h2 *ngIf="planet && planet.name" class="mat-display-1">{{planet.name}}</h2>
<mat-list *ngIf="planet && planet.name">
    <mat-list-item><b>Rotation period: </b> {{planet.rotation_period | toNumber}}</mat-list-item>
    <mat-list-item><b>Orbital period: </b> {{planet.orbital_period | toNumber}}</mat-list-item>
    <mat-list-item><b>Diameter: </b> {{planet.diameter | toNumber}}</mat-list-item>
    <mat-list-item><b>Climate: </b> {{planet.climate}}</mat-list-item>
    <mat-list-item><b>Terrain: </b> {{planet.terrain}}</mat-list-item>
    <mat-list-item><b>Surface water: </b> {{planet.surface_water}}{{(isNumber(planet.surface_water)) ? '%' : ''}}</mat-list-item>
    <mat-list-item><b>Population: </b> {{planet.population | toNumber}}</mat-list-item>
</mat-list>
<button mat-raised-button color="primary" (click)="back()">BACK</button>
<div *ngIf="error">
  <span class="error">Sorry, planet not found.</span>
</div>